<div class="content">
    <div class="h2 text-primary text-center">О ПОЛИКЛИНИКЕ</div>
    <div class="text-center">
    <img src="~/image/14gp.jpg"></div>
    <p class="text-dark">Учреждение здравоохранения «ООО МорХеал»
        является головным специализированным центром для оказания всех основных видов медицинской помощи населению.</p>
    
    <ol>
        <li><strong>диагностика и назначение лечения</strong>, проводимые участковыми врачами (терапевты, педиатры, акушер-гинекологи и т.д.) и врачами общей практики в амбулаторных условиях, а также&nbsp;<strong>на дому в случаях невозможности явки больного на прием либо представления угрозы здоровью и жизни самого больного или окружающих</strong>;</li>
        <li><strong>услуги врачей-специалистов</strong>, оказываемые в установленном порядке&nbsp;<strong>по направлению участковых врачей</strong>&nbsp;или врачей общей практики в учреждениях здравоохранения, в том числе областного и республиканского уровней;</li>
        <li>диагностические услуги - клинические, инструментальные и лабораторные методы исследований, методы лучевой диагностики по направлениям участковых врачей, врачей общей практики и врачей-специалистов;</li>
        <li><strong>профилактика, диагностика и лечение стоматологических заболеваний</strong>, за исключением видов стоматологических услуг, относящихся к платным услугам в соответствии с законодательством;</li>
        <li><strong>профилактические меры в отношении онкологических заболеваний</strong>, врожденных пороков развития, ВИЧ/СПИД-инфекций, заболеваний молочных желез и щитовидной железы, туберкулеза, заболеваний сердечно-сосудистой системы, а также формирование здорового образа жизни;</li>
        <li><strong>направление на госпитализацию при наличии медицинских показаний в соответствии со стандартами</strong>, критериями и порядком госпитализации, определяемыми Министерством здравоохранения;</li>
        <li><strong>противоэпидемические мероприятия:</strong></li>
    </ol>
    
    <p class="text-dark">
        На сегодняшний день структура МорХела соответствует своему предназначению – центральной районной поликлиники района, которая является одной из крупнейших по мощности поликлиник г. Минска (1072 посещения в смену). 
    </p>
    
    <p class="text-dark"><strong>Кредо поликлиники:</strong> 
        в хорошем медицинском учреждении больному должно стать лучше от одного сознания, что он переступил его порог. Поэтому,&nbsp;
        <em>внимательное, чуткое отношение к пациентам, забота о здоровье населения</em>
        &nbsp;– это основная цель нашей работы. Поэтому, одно из основных направлений деятельности поликлиники – профилактическое, 
        медики выступают с лекциями не только в средних учебных заведениях, но и на предприятиях, в общежитиях.</p>
    
    <p class="text-dark">Неоспоримым фактом, определяющим качество медицинской помощи, является профессиональная подготовка медработников.
        В этом направлении администрацией поликлиники проводится целенаправленная работа. 
        Так, ежегодно 35-40 % медработников проходит повышение квалификации, на сегодняшний день 70% в среднем имеют квалификационные категории.</p>
</div>