<div class="container">
    <div class="row shadow mt-3">
        <div class="col-lg-12 d-flex justify-content-center h1 mt-2 mb-2">
            АКЦИЯ «ЗДОРОВАЯ И КРАСИВАЯ УЛЫБКА» + ПОДАРОК
        </div>
        <div class="col-lg-12 d-flex justify-content-center mb-2">
            <img src="https://www.14crp.by/images/ecoone.jpg" width="600px" height="300px" style="object-fit: contain">
        </div>
        <div class="col-lg-12">
            В нашей поликлинике проводится АКЦИЯ «Здоровая и красивая улыбка»
            Приходите к нам на профгигиену и отбеливание зубов и получите в подарок от нашего спонсора - компании R.O.C.S. зубную пасту с источникомбио-доступного кальция.
        </div>
        <div class="col-lg-12 mb-2">
            Наши высококлассные врачи-стоматологи подарят Вам здоровую и красивую улыбку, а зубная паста R.O.C.S. защитит ваши зубы от бактерий, вызывающих кариес, укрепит эмаль, и вернет ей естественную белизну

            Количество подарков ограничено.

            Получить справочную информацию и записаться можно по телефонам:
        </div>
    </div>

    <div class="row shadow mt-5">
        <div class="col-lg-12 d-flex justify-content-center h1 mt-2 mb-2">
            АКЦИЯ «СКАЖИ ЗДОРОВЬЮ – ДА»
        </div>
        <div class="col-lg-12 d-flex justify-content-center mb-2">
            <img src="https://www.14crp.by/images/admin14crp/knbfydssdfg.jpg" width="600px" height="500" style="object-fit: contain">
        </div>
        <div class="col-lg-12 mb-2">
            27.01.2022 года Центром здоровья УЗ «14-ой центральной районной поликлиники Партизанского района г. Минска» проводилась

            ревакцинация и вакцинация, желающих привиться от короновируса работников завода шестерен в рамках акции «Скажи здоровью – ДА». В акции приняли участие 27 человек – жителей Партизанского района. Психологом Центра здоровья проведено 23 консультации по телефону в рамках акции. Пациенты получили ответы на интересующие их вопросы, узнали тактику поведения в их конкретной ситуации, период самоизоляции для членов семьи и дальнейшую реабилитацию после ковид инфекции.

            В ходе беседы всем посетителям выдавались рекомендации по улучшению состояния своего здоровья и ведению здорового образа жизни.
        </div>
    </div>

    <div class="row shadow mt-5">
        <div class="col-lg-12 d-flex justify-content-center h1 mt-2 mb-2">
            МЕЖДУНАРОДНЫЙ ФЕСТИВАЛЬ ИСКУССТВ "СЛАВЯНСКИЙ БАЗАР В ВИТЕБСКЕ"
        </div>
        <div class="col-lg-12 mb-2">
            Администрация Партизанского района г.Минска информирует, что с 14 по 17 июля 2022 г. планируется проведение XXXI Международного фестиваля искусств ”Славянский базар в Витебске44.

            На протяжении тридцати лет фестиваль является знаковым событием не только в Беларуси, но и в странах ближнего и дальнего зарубежья, подтверждая статус Витебска как центра фестивального движения.

            В 2021 году форуму искусств удалось принять 5200 участников из 32 стран мира. В настоящее время на уровне области и республики ведется активная работа по формированию программы XXXI Международного фестиваля искусств ”Славянский базар в Витебске".

            14 января 2022 г. стартовала продажа сертификатов на ”закрытую44 программу фестиваля искусств ”Славянский базар в Витебске44 за наличный и безналичный расчёт в кассах ГУ ”Центр культуры ”Витебск44 и на сайте kvitki.bу.

            Выпущены сертификаты номиналом в 10, 20, 30, 50 и 100 рублей. Сертификаты в последующем подлежат обмену на любые билеты концертных программ, проводимых в Летнем амфитеатре.

            К каждому сертификату номиналом 100 рублей автоматически добавляется ещё 31 рубль. Таким образом, при приобретении билетов с использованием сертификата данного номинала, покупатель получает скидку на 1 билет в размере 31 рубль.
        </div>
    </div>
</div>