<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="~/image/bg_2.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="~/image/bg_1.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="~/image/bg_3.jpg" alt="Third slide">
    </div>
  </div>
</div>

<div class="content">
  <div class="h2 text-primary text-center" style="margin:5%;">Уважаемые пациенты!</div>
  <br/>
  <p class="h5 text-dark" style="text-indent: 15px;">
    Убедительная просьба при посещении специалистов по предварительной записи, 
    кабинетов вспомогательных служб уточнять время работы специалиста или кабинета в день обращения:
  </p>
  <hr>
  <ul>
    <li>в регистратуре поликлиники с 07:00 до 20:00 в рабочие дни по телефону:  8(017) 374-18-56 , с 09:00 до 18:00 в субботние дни по телефону:  8(017) 286-18-54</li>
    <li>в регистратуре женской консультации и стоматологического отделения с 07:00 до 20:00 в рабочие дни, с 09:00 до 18:00 в субботние дни по телефону:  8(017) 364-76-59</li>

  </ul>
  <hr>
</div>