@model IEnumerable<Doctor>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@if (User.Identity.IsAuthenticated)
{
    @User.Claims.ElementAt(0).Value @User.Claims.ElementAt(1).Value
    <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Logout">Exit</a>
}
       
@foreach(var a in Model)
{
    @a.Name;
}
