<div class="d-flex align-items-center">
    <div class="col-lg-8 ml-5">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="~/image/bg_2.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="~/image/bg_1.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="~/image/bg_3.jpg" alt="Third slide">
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 flex-column d-flex k-align-items-center align-items-center">
        <div class="h3">
            г. Минск, ул. Фроликова, д.2
        </div>
        <p>
            +375 (17) 375 56 04 колл-центр
        </p>
        <p>+375 (33) 333 59 20 (7.00-20.00)</p>
        <p>+375 (29) 190 53 50 (7.00-20.00)</p>
        <p>+375 (17) 374 32 60 стоматология</p>
        <p>+375 (29) 317 75 28 стоматология</p>
        <p>+375 (17) 373 92 61 вызов врача на дом</p>
        <p>+375 (17) 353 92 64 платные услуги (касса)</p>
        <p>+375 (33) 333 59 24 платные услуги (касса)</p>
        <div class="h3">
            Филиал, ул. Карвата, д.14
        </div>
        <p>+375 (17) 378 11 90 справка</p>
        <p>+375 (17) 378 11 89 вызов врача на дом</p>
    </div>
</div>
<div class="mt-5 d-flex justify-content-center">
    <div class="col-lg-1 d-flex justify-content-center">
        <img src="https://www.10gdp.by/images/why/001.png" class="d-flex justify-content-center"/>
    </div>
    <div class="col-lg-2 flex-column">
        <div class="h2" style="text-align: center">
            3 ПРИЧИНЫ
        </div>
        <div class="h2" style="text-align: center">
            ОБРАТИТЬСЯ К НАМ
        </div>
    </div>
    <div class="col-lg-2 flex-column d-flex justify-content-center">
        <div class="d-flex justify-content-center">
            <img src="https://www.10gdp.by/images/why/002.png" width="52px" height="72px"/>
        </div>
        <p style="text-align: center">Высококвалифицированные специалисты</p>
    </div>
    <div class="col-lg-2 flex-column d-flex justify-content-center">
        <div class="d-flex justify-content-center">
            <img src="https://www.10gdp.by/images/why/003.png" width="52px" height="72px"/>
        </div>
        <p style="text-align: center">Индивидуальных подход к каждому ребенкку</p>
    </div>
    <div class="col-lg-2 flex-column d-flex justify-content-center">
        <div class="d-flex justify-content-center">
            <img src="https://www.10gdp.by/images/why/003.png" width="52px" height="72px"/>
        </div>
        <p style="text-align: center">Новейшие технологии лечения</p>
    </div>
</div>
<div class="container">
    <div class="content">
        <div class="h2 text-primary text-center" style="margin:5%;">Уважаемые пациенты!</div>
        <br/>
        <p class="h5 text-dark" style="text-indent: 15px;">
            Убедительная просьба при посещении специалистов по предварительной записи,
            кабинетов вспомогательных служб уточнять время работы специалиста или кабинета в день обращения:
        </p>
        <hr>
        <ul>
            <li>в регистратуре поликлиники с 07:00 до 20:00 в рабочие дни по телефону: 8(017) 374-18-56 , с 09:00 до 18:00 в субботние дни по телефону: 8(017) 286-18-54</li>
            <li>в регистратуре женской консультации и стоматологического отделения с 07:00 до 20:00 в рабочие дни, с 09:00 до 18:00 в субботние дни по телефону: 8(017) 364-76-59</li>
        </ul>
        <hr>
    </div>

    <div class="row mt-5 d-flex justify-content-center">
        <div class="col-lg-12 h3 d-flex justify-content-center">
            ПЛАТНЫЕ УСЛУГИ
        </div>
        <div class="col-lg-2 flex-column d-flex justify-content-center">
            <div class="d-flex justify-content-center">
                <img src="https://www.10gdp.by/images/paid/001.png" width="150px" height="150px"/>
            </div>
            <p style="text-align: center">Использование имортных расходных материалов</p>
        </div>
        <div class="col-lg-2 flex-column d-flex justify-content-center">
            <div class="d-flex justify-content-center">
                <img src="https://www.10gdp.by/images/paid/002.png" width="150px" height="150px"/>
            </div>
            <p style="text-align: center">Диагностические мероприятия</p>
        </div>
        <div class="col-lg-2 flex-column d-flex justify-content-center">
            <div class="d-flex justify-content-center">
                <img src="https://www.10gdp.by/images/paid/003.png" width="150px" height="150px"/>
            </div>
            <p style="text-align: center">Консультации врачей-специалистов</p>
        </div>
        <div class="col-lg-2 flex-column d-flex justify-content-center">
            <div class="d-flex justify-content-center">
                <img src="https://www.10gdp.by/images/paid/004.png" width="150px" height="150px"/>
            </div>
            <p style="text-align: center">Иммунизация</p>
        </div>
        <div class="col-lg-2 flex-column d-flex justify-content-center">
            <div class="d-flex justify-content-center">
                <img src="https://www.10gdp.by/images/paid/005.png" width="150px" height="150px"/>
            </div>
            <p style="text-align: center">Наблюдение врачами
                                          (пациентов вне территории обслуживания)</p>
        </div>
    </div>
</div>