<nav>
    <div class="nav nav-tabs mb-5 d-flex justify-content-center" id="nav-tab" role="tablist">
        <a class="nav-item nav-link"  asp-action="AdminAppointmentHome" aria-controls="nav-profile" aria-selected="false">Вызов на дом</a>
        <a class="nav-item nav-link"  asp-action="AdminDepartment" aria-controls="nav-contact" aria-selected="false">Отделение</a>
        <a class="nav-item nav-link"  asp-action="AdminCabinet" aria-controls="nav-contact" aria-selected="false">Кабинет</a>
        <a class="nav-item nav-link"  asp-action="AdminDoctor" aria-controls="nav-contact" aria-selected="false">Доктор</a>
        <a class="nav-item nav-link active"  asp-action="AdminFeedback" aria-controls="nav-contact" aria-selected="false">Отзывы</a>
        <a class="nav-item nav-link"  asp-action="AdminPaidService" aria-controls="nav-contact" aria-selected="false">Платные услуги</a>
        <a class="nav-item nav-link"  asp-action="AdminSpecialization" aria-controls="nav-contact" aria-selected="false">Специальности</a>
    </div>
</nav>
<div id="example">
    <div id="grid"></div>
    <script>
        $(document).ready(function() {
            $("#grid").kendoGrid({
                dataSource: {
                    transport: {
                        read: "@Url.Action("GetAllFeedBacks", "Admin")",
                        destroy: {
                            url: "@Url.Action("RemoveFeedback","Admin")",
                            dataType: "json",
                            type: "DELETE"
                        }
                    },
                    schema: {
                        model: {
                            id: "Id",
                            fields: {
                                Id: { editable: false, from: "id", type: "number" },
                                Doctor: { from: "doctor", validation: {required: true} }, 
                                DoctorId: {from: "doctorId", validation: {required: true} },
                                Text: { from: "text", validation: {required: true} },
                                Rating: {from: "rating", validation: {required: true} }, 
                            }
                        }
                    },
                    pageSize: 20,
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true
                },
                height: 550,
                editable: {
                    mode: "popup",
                    window: {
                        scrollable: false,
                        resizable: false,
                    }
                },
                // filterable: true,
                // sortable: true,
                pageable: true,
                columns: [
                    {
                        field:"Id",
                        filterable: false
                    },
                    {
                        field: "Doctor.fullName",
                        title: "Доктор"
                    },
                    {
                        field: "Text",
                        title: "Отзыв"
                    }, 
                    {
                        field: "Rating",
                        title: "Оценка обслуживания"
                    },
                    {
                        command: "destroy"
                    }
                ]
            });
        });
    </script>
</div>
