@using Microsoft.EntityFrameworkCore.Metadata.Internal
<div class="content">
    <div class="mt-5">
        <p>Дата начала:
            <input id="startDate" class="mb-3" style="margin:15px;"/>
            Дата окончания:
            <input id="endDate" class="mb-3" style="margin:15px;"/>
        </p>
        <div id="grid"> </div>
    </div>
</div>
<script>
$(document).ready(function () {
    onFilterChange();
});

    $("#startDate").kendoDatePicker({
        value: new Date('@DateTime.Now.AddMonths(-1).ToString("yyyy-MM-ddTHH:mm:ss")'),
        change: onFilterChange,
        format: "{0:dd/MM/yyyy}"
    });
    
    function onFilterChange() {
            $("#grid").data("kendoGrid").dataSource.read();
        }
        
    $("#endDate").kendoDatePicker({
        value: new Date('@DateTime.Now.ToString("yyyy-MM-ddTHH:mm:ss")'),
        change: onFilterChange,
        format: "{0:dd/MM/yyyy}"
        });
    
    $("#grid").kendoGrid({
                    dataSource: {
                        transport: {
                            read: { 
                                url: "@Url.Action("GetAppointmentsByDateFilter", "Admin")",
                                data: function () {
                                    var dateStart = $("#startDate").data("kendoDatePicker").value();
                                    var dateEnd = $("#endDate").data("kendoDatePicker").value();
                                    var dateStartConverted = kendo.toString(dateStart, "dd/MM/yyyy");
                                    var dateEndConverted = kendo.toString(dateEnd, "dd/MM/yyyy");
                                    var doctorId = @ViewBag.DoctorId;
                                    return {
                                        dateStart: kendo.toString(dateStartConverted, "dd/MM/yyyy"),
                                        dateEnd: kendo.toString(dateEndConverted, "dd/MM/yyyy"),
                                        doctorId: doctorId
                                    };
                                }
                            },
                        },
                        schema: {
                                                    model: {
                                                        fields: {
                                                            Patient: { from: "patient", nullable: true, validation: { required: true } },
                                                            DateStart: { from: "dateStart", type: "date", validation: { required: true } }
                                                        }
                                                    }
                                                },
                                                pageSize: 20,
                                                serverPaging: true,
                                                serverFiltering: true,
                                                serverSorting: true
                                            },
                                            toolbar: [
                                                                {name: "excel"}
                                                            ],
                                            height: 550,
                                            pageable: true,
                                            columns: [
                                                {
                                                    field: "Patient.fullName",
                                                    title: "Клиент"
                                                },
                                                {
                                                    field: "DateStart",
                                                    title: "День",
                                                    format: "{0:dd-MM-yyyy HH:MM}"
                                                }
                                            ]
        });
</script>
